.gameboll-theme-primary {
    background-color: #0E562C !important;    
    color: #fff !important;
    .entrar {
        display: none;
    }
    .sair {
        display: none;
    }
    .button, {
        background-color: #073018 !important;
        color: #fff !important;
        cursor: pointer;
        i {
            color: #fff !important;
        }
        &:hover {
            background-color: #000 !important;
            border: solid 1px #fff;
        }
    }

    a, b, i, p, h1, h2, h3, h4, h5, h6 {
        color: #fff !important;
    }
}

.gameboll-theme-modal {
    .modal-header {
        background-color: #073018 !important;
        .modal-title {
            color: #fff !important;
        }
    }
    span {
        color: #fff !important;
    }
    .btn {
        background-color: #073018 !important;
        color: #fff !important;
        i {
            color: #000 !important;
        }
    }
    a, b, i, p, h1, h2, h3, h4, h5, h6 {
        color: #000 !important;
    }
    .link {
        cursor: pointer;
        color: #0366d6 !important;
    }
    .recuperar-senha {
        display: none;
    }
}

.header {
    position: absolute;
    .logo {
        img {
            height: 50px;
        }
        // .span1 {
        //     margin-right: -5px;
        // }
        // .span2 {
        //     margin-left: -5px;
        // }
    }
    .collapse {
        a{
            text-decoration: none;
            .fa-home {
                display: none;
                &:hover {
                    cursor: pointer;
                    color: #000 !important;
                }
                
            }

        }

    }
}