<div class="footer w-100 gameboll-theme-dark">
  <div class="pt-4 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0">
            <small>
              Contatos
              <br>Tel: (85) 9xxxx-xxxx
              <br>Email: exemplo@email.com
            </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>
            <small>© Copyright 2017 GameBoll - Todos os direitos reservados.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>