<div class="menu-left pt-2">
  <div class="item">
    <a [routerLink]="['ranking']">
      <i class="icon fa fa-lg fa-list-ol" aria-hidden="true"></i>
      Ranking da semana
    </a>
  </div>

  <div class="item">
    <a [routerLink]="['campeonato']">
      <i class="icon fa fa-lg fa-trophy" aria-hidden="true"></i>
      Campeonatos
    </a>
  </div>

  <div class="item">
    <a [routerLink]="['rodada']">
      <i class="icon fa fa-lg fa-futbol-o" aria-hidden="true"></i>
      Rodadas
    </a>
  </div>

  <div class="item">
    <a (click)="aposta()">
      <i class="icon fa fa-lg fa-money" aria-hidden="true"></i>
      Apostas
    </a>
  </div>

  <div class="item">
    <a (click)="equipe()">
      <i class="icon fa fa-lg fa-users" aria-hidden="true"></i>
      Equipes
    </a>
  </div>
</div>
