<div class="row content pt-2 pb-5 m-0">
    <div class="col-12 row d-flex align-items-center m-0 p-3">
        <div class="col-sm-7 ml-0 pl-0">
          <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Rodadas</h2>
        </div>
        <div class="col-8 col-sm-4 p-0 m-0">
          <div class="input-group">
            <input type="text" [(ngModel)]="filter.nome" (keyup.enter)="buscar()" class="form-control" placeholder="rodadas..." aria-label="campeonato...">
            <span class="input-group-btn">
              <button class="btn" (click)="buscar()" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-4 col-sm-1 text-right pl-3 mr-0 pr-0 mt-2 mb-2">
          <button class="btn w-100" (click)="novo()" data-toggle="modal" data-target="#modal-rodada">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
  
  <div class="col-12 m-0">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [externalPaging]="true"
    [limit]="pagination.limit"
    [count]="pagination.count"                
    [offset]="pagination.offset"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator"
    (page)="setPage($event)">
    <ngx-datatable-column name="Rodadas">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            <a class="nome-rodada" (click)="mostrarJogos()">
              <a [routerLink]="['../jogo']" [queryParams]="{id: row.id}">
                {{row.nome}}
              </a>
            </a>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="200" name="Início">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.inicio | date:'dd/MM/y H:m'}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="200" name="Fim">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.fim | date: 'dd/MM/y H:m'}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="200" name="Ação">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="col-12 row text-center" >
              <a class="col-12" data-toggle="modal" (click)="edit(row)" data-target="#modal-rodada">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </a>
            </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>   
</div>

<!-- Modal Rodada -->
<div class="modal gameboll-theme-modal" id="modal-rodada">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header rounded-0">
          <h5 class="modal-title">Rodada</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <form class="form-modal" method="post" action="">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" [(ngModel)]="rodada.nome" class="form-control" placeholder="nome">
              </div>
              <div class="form-group">
                <label>Data Início</label>
                <input type="date" name="inicio" [value]="rodada.inicio | date:dd-MM-y" (input)="rodada.inicio=parseDate($event.target.value)" class="form-control">
              </div>
              <div class="form-group">
                <label>Data Fim</label>
                <input type="date" name="fim" [value]="rodada.fim | date:dd-MM-y" (input)="rodada.fim=parseDate($event.target.value)" class="form-control">
              </div>
            </form>
            <div class="row">
              <div class="col-md-4">
                <a class="btn" (click)="submit()">Salvar</a>
              </div>
              <div class="col-md-8">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>