.jogos {
  img {
      width: 30px;
  }
  .jogo {
      background-color: rgba(0, 0, 0, 0.164);
  }
  .info {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.452);
  }
  span {
      cursor: pointer;
  }
}