<div class="row content pt-2 pb-5 m-0">
  <div class="col-12 row d-flex align-items-center m-0 p-3">
    <div class="col-sm-7 ml-0 pl-0">
      <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Ranking</h2>
    </div>
    <div class="col-8 col-sm-5 p-0 m-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="rodada..." aria-label="campeonato...">
        <span class="input-group-btn">
          <button class="btn" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-12 m-0">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator">
    <ngx-datatable-column name="Nº"
        [maxWidth]="10" [width]="20">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.$$index +1}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span
          title="Double click to edit"
          (dblclick)="editing[row.$$index + '-name'] = true"
          *ngIf="!editing[row.$$index + '-name']">
            {{value}}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'name', value, row)"
          *ngIf="editing[row.$$index + '-name']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Telefone">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span
          title="Double click to edit"
          (dblclick)="editing[row.$$index + '-gender'] = true"
          *ngIf="!editing[row.$$index + '-gender']">
          {{value}}
        </span>
        <select
          *ngIf="editing[row.$$index + '-gender']"
          (change)="updateValue($event, 'gender', value, row)"
          [value]="value">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Data da aposta">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
  </div>   
</div>