<div class="row content pt-2 pb-5 m-0">
  <div class="col-12 row d-flex align-items-center m-0 p-3">
    <div class="col-sm-7 ml-0 pl-0">
      <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Ranking</h2>
    </div>
    <div class="col-sm-4 p-0 m-0">
      <div class="form-group p-0 m-0 mr-3">
        <select class="form-control" [(ngModel)]="filter.idRodada">
          <option [ngValue]="rodada.id" *ngFor="let rodada of listaRodada" [selected]="rodada.nome === 'Rodada...'">{{rodada.nome}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-1 p-0 m-0">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn" type="button" (click)="getRanking()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-12 m-0">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator">
    <ngx-datatable-column name="Nº"
        [maxWidth]="10">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.$$index +1}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nome">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.usuario.nome}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Pontuação">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.pontuacao}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Saldo de gols">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.saldo_gol}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Data">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.created_at | date:'dd/MM/y H:mm'}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Celular">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.usuario.celular}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
  </div>   
</div>