
<div class="row content pt-5 pb-5 m-0">
  <div class="input-group mb-2 col-lg-12">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input class="form-control" type="text" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)"/>
  </div>
  
  <div class="col-12 m-0">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="'true'"
    [loadingIndicator]="loadingIndicator">
    <ngx-datatable-column name="Nº"
        [maxWidth]="30" [width]="20">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.$$index +1}}
          </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span
          title="Double click to edit"
          (dblclick)="editing[row.$$index + '-name'] = true"
          *ngIf="!editing[row.$$index + '-name']">
          {{value}}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'name', value, row)"
          *ngIf="editing[row.$$index + '-name']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Gender">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span
          title="Double click to edit"
          (dblclick)="editing[row.$$index + '-gender'] = true"
          *ngIf="!editing[row.$$index + '-gender']">
          {{value}}
        </span>
        <select
          *ngIf="editing[row.$$index + '-gender']"
          (change)="updateValue($event, 'gender', value, row)"
          [value]="value">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Company">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
  </div>   
</div>