<div class="inicial">
  <div class="text-center banner gameboll-theme-primary">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="mb-4">Faça sua melhor jogada</h1>
          <p class="lead mb-5">Registre-se agora e jogue ao lado do seu time.
            <br>Fique por dentro dos principais campeonatos nacionais e internacionais.&nbsp;
            <br> </p>
          <a href="" routerLink="cadastro" class="btn button-1 btn-lg mx-1">Cadastro</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 text-center text-info gameboll-theme-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-info">Junte-se a liga GameBoll</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6 text-dark">
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center text-info">
              <i class="d-block fa fa-usd fa-3x text-info"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-info">Aposte no sues times favoritos</h4>
              <p class="text-info">Escolha seus times favoritos
                <br>para fazer suas apostas</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-bar-chart fa-4x text-info"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-info">Acompanhe todas as rodadas</h4>
              <p class="text-info">Fique por dentro do que está
                <br>acontecendo a cada rodada</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa fa-futbol-o fa-3x"></i>
            </div>
            <div class="col-10 text-info">
              <h4 class="">Fique por dentro das principais ligas</h4>
              <p>Saiba o que está acontecendo nas principais ligas
                <br>nacionais e internacionais</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block mx-auto fa  fa-users fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="">Jogue ao lado do seu time</h4>
              <p>Junte-se ao seu time do coração&nbsp;
                <br>e comece agora.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>