<div class="inicial pb-5">
  <div class="text-center banner gameboll-theme-primary mb-3">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="mb-4">Faça sua melhor jogada</h1>
          <p class="lead mb-5">Comece agora mesmo e jogue ao lado do seu time.
            <br>Fique por dentro dos principais campeonatos nacionais e internacionais.
            <br> </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Campeonatos e jogos -->
  <div class="jogos col-12 row d-flex justify-content-center align-items-center m-0">
    <div class="col-sm-10 row d-flex justify-content-center p-0">
      <div class="titulo-campeonato col-12 row text-left d-flex align-items-center pt-3 pb-2 pl-0 pr-0">
        <div class="col-2 text-center">
          <img class="logo-campeonato" src="assets/img/campeonatos/uefa.png" alt="Logo campeonato">
        </div>
        <h5 class="col-10">Título do campeonato</h5>
      </div>

      <!-- jogo -->
      <div class="div-jogos col-12 row p-0">

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-10 row d-flex justify-content-center p-0">
      <div class="titulo-campeonato col-12 row text-left d-flex align-items-center pt-3 pb-2 pl-0 pr-0">
        <div class="col-2 text-center">
          <img class="logo-campeonato" src="assets/img/campeonatos/uefa.png" alt="Logo campeonato">
        </div>
        <h5 class="col-10">Título do campeonato</h5>
      </div>

      <!-- jogo -->
      <div class="div-jogos col-12 row p-0">

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-10 row d-flex justify-content-center p-0">
      <div class="titulo-campeonato col-12 row text-left d-flex align-items-center pt-3 pb-2 pl-0 pr-0">
        <div class="col-2 text-center">
          <img class="logo-campeonato" src="assets/img/campeonatos/uefa.png" alt="Logo campeonato">
        </div>
        <h5 class="col-10">Título do campeonato</h5>
      </div>

      <!-- jogo -->
      <div class="div-jogos col-12 row p-0">

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>

        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" #equipecasaescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" #equipevisitanteescolhida (click)="escolherEquipe()">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo">
            <p class="info">Data</p>
            <p class="info">Horário: 00:00h</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="aposta d-flex justify-content-center align-items-center">
    <img src="assets/img/icone-aposta.png" data-toggle="modal" data-target="#modal-apostas" alt="Icone apostas">
  </div>

</div>

<div class="modal gameboll-theme-modal" id="modal-apostas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Minha aposta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jogo col-12 m-0 p-1 d-flex justify-content-center row mb-3 pb-2">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo pb-2">
            <div class="col-12 text-center">
              <p class="info">Data: 00/00/0000</p>
              <p class="info">Horário: 00:00h</p>
            </div>

            <div class="btn-desfazer-aposta col-12 mt-2 text-center">
              <a href="" class="btn btn-sm btn-primary">Desfazer aposta</a>
            </div>
          </div>
        </div>

        <div class="jogo col-12 m-0 p-1 d-flex justify-content-center row mb-3 pb-2">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 info-jogo pb-2">
            <div class="col-12 text-center">
              <p class="info">Data: 00/00/0000</p>
              <p class="info">Horário: 00:00h</p>
            </div>

            <div class="btn-desfazer-aposta col-12 mt-2 text-center">
              <a href="" class="btn btn-sm btn-primary">Desfazer aposta</a>
            </div>
          </div>
        </div>

      </div>

      <div class="btn-finalizar-aposta col-12 mt-2 mb-3 text-center">
        <a href="" class="btn btn-primary">Finalizar aposta</a>
      </div>

    </div>
  </div>
</div>