// gameboll themes
.gameboll-theme-primary {
    color: #fff !important;
    .button-1, {
        background-color: #073018 !important;
        color: #fff !important;
        &:hover {
            background-color: #000 !important;
            border: solid 1px #fff;
        }
        i {
            color: #fff !important;
        }
    }

    .button-2, {
        background-color: #e7e9ea !important;
        color: #000 !important;
        i {
            color: #000 !important;
        }
        &:hover {
            background-color: #000 !important;
            color: #fff !important;
            i {
                color: #fff !important;
            }
        }

    }
}

.gameboll-theme-modal {
    .modal-content {
        .modal-header {
            background-color: #073018 !important;
            .modal-title {
                color: #fff !important;
            }
            .close {
                span {
                    color: #fff !important;
                }
            }
        }
        .modal-body {
            .jogo {
                border-bottom: solid 1px #a2a2a2;
                img {
                    width: auto;
                    height: 30px;
                }
                .btn-desfazer-aposta {
                    a {
                        background-color: #000 !important;
                        border: solid 1px #fff;
                        &:hover {
                            background-color: red !important;
                            border: solid 1px #000;
                        }
                    }
                }
            }
        }
        .btn-finalizar-aposta {
            a {
                background-color: #0E562C !important;
                &:hover {
                    background-color: #073018 !important;
                }
            }
        }
    }
    span {
        color: #000 !important;
    }
    .btn {
        background-color: #073018 !important;
        color: #fff !important;
        i {
            color: #000 !important;
        }
    }
    a, b, i, p, h1, h2, h3, h4, h5, h6 {
        color: #000 !important;
    }
    .link {
        color: #0366d6 !important;
    }
    .info-jogo {
        background-color: #dedbdb;
        .info {
            text-align: center;
            margin: 0;
            font-size: 0.8em;
        }    
    }
}

.inicial {
    margin-top: 56px;
    background-color: #fff;
    .banner {
        height: 60vh;
        background-image: url(../../../assets/img/banner.jpg); 
        background-position: 0 -50px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    @media (max-width: 575px) {
        .banner {
            background-size: auto 100vh;
            height: 100vh;
        }
    }

    .jogos {
        .titulo-campeonato {
            .logo-campeonato {
                height: 50px;
                width: auto;
            }
        }
        .div-jogos {
            border-bottom: solid 1px #a2a2a2;
            .jogo {
                background-color: #f2f2f2;
                border: solid 3px #fff;
                .time-casa {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: #7c7c7c;
                    }
                }
                .time-visitante {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: #7c7c7c;
                    }
                }
                img {
                    height: 30px;
                    width: auto;
                }
                .info-jogo {
                    background-color: #dedbdb;
                    .info {
                        text-align: center;
                        margin: 0;
                        font-size: 0.8em;
                    }    
                }
            }
        }
    }

    .aposta {
        width: 80px;
        height: 80px;
        position: fixed;
        right: 10px;
        top: 60px;
        img {
            width: 60px;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                width: 70px;
            }
        }
    }
}