.gameboll-theme-modal {
    .modal-content {
        .modal-header {
            background-color: #073018 !important;
            .modal-title {
                color: #fff !important;
            }
            .close {
                span {
                    color: #fff !important;
                }
            }
        }
        .modal-body {
            .jogo {
                border-bottom: solid 1px #a2a2a2;
                position: relative;
                img {
                    width: auto;
                    height: 35px;
                    filter: opacity(35%);
                }
                .equipe-escolhida {
                    width: auto;
                    height: 40px;
                    filter: opacity(100%);
                }
                .trash {
                    position: absolute;
                    width: 40px;
                    right: 0;
                    top: 0;
                    // background-color: #dedbdb;
                    button {
                        cursor: pointer;
                        background-color: #000 !important;
                        i {
                            color: #fff !important;
                        }
                        &:hover {
                            background-color: #a2a2a2 !important;
                            i {
                                color: #000 !important;
                            }
                        }
                    }
                }            
            }
        }
    }
    span {
        color: #000 !important;
    }
    .btn {
        cursor: pointer;
        background-color: #0E562C !important;
        color: #fff !important;
        i {
            color: #000 !important;
        }
        &:hover {
            background-color: #073018 !important;            
        }
    }
    a, b, i, p, h1, h2, h3, h4, h5, h6 {
        color: #000 !important;
    }
    .link {
        color: #0366d6 !important;
    }
    .input-telefone {
        display: none;
    }

    .formularioCadastrado {
        display: none;
        background-color: #f2f2f2;
    }

    .enviar {
        display: none;
        background-color: #f2f2f2;        
    }
}

.inicial {
    margin-top: 56px;
    background-color: #fff;
    .banner {
        height: 60vh;
        background-image: url(../../../assets/img/banner.jpg); 
        background-position: 0 -50px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    @media (max-width: 575px) {
        .banner {
            background-size: auto 100vh;
            height: 100vh;
        }
    }

    .jogos {
        .titulo-campeonato {
            .logo-campeonato {
                height: 50px;
                width: auto;
            }
        }
        .div-jogos {
            border-bottom: solid 1px #a2a2a2;
            .jogo {
                background-color: #f2f2f2;
                border: solid 3px #fff;
                // position: relative;
                .time-casa {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: #7c7c7c;
                    }
                }
                .time-visitante {
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: #7c7c7c;
                    }
                }
                img {
                    height: 30px;
                    width: auto;
                }
                .info-jogo {
                    background-color: #dedbdb;
                    .info {
                        text-align: center;
                        margin: 0;
                        font-size: 0.8em;
                    }    
                }
            }
        }
    }

    .aposta {
        width: 80px;
        height: 80px;
        position: fixed;
        right: 10px;
        top: 60px;
        img {
            width: 60px;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                width: 70px;
            }
        }
    }
}

.selected {
    background-color: #06863c;
}
