<div class="inicial pb-5">
  <div class="text-center banner gameboll-theme-primary mb-3">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="mb-4">Faça sua melhor jogada</h1>
          <p class="lead mb-5">Comece agora mesmo e jogue ao lado do seu time.
            <br>Fique por dentro dos principais jogos dos campeonatos nacionais e internacionais.
            <br> </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Campeonatos -->

  <div class="jogos col-12 row d-flex justify-content-center align-items-center m-0">
    <div class="col-sm-10 row d-flex justify-content-center p-0" *ngFor="let rodada of rodadas">
      <div class="titulo-campeonato col-12 row text-left d-flex align-items-center pt-3 pb-2 pl-0 pr-0">
        <div class="col-2 text-center">
          <img class="logo-campeonato" src="assets/img/campeonatos/uefa.png" alt="Logo campeonato">
        </div>
        <h5 class="col-10">{{rodada.nome}}</h5>
      </div>

      <!-- jogo -->
      <div class="div-jogos col-12 row p-0">
        <div class="jogo col-sm-6 m-0 p-1 d-flex justify-content-center row" *ngFor="let jogo of rodada.jogos">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row" [ngClass]="{'selected': jogo.equipe_casa.ativo}" (click)="escolherEquipe(jogo, jogo.equipe_casa, rodada.id, 'right')">
            <img src="assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>{{jogo.equipe_casa.nome}}</span>
            </small>
          </div>

          <div class="col-2 d-flex justify-content-center align-items-center">vs</div>
          
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row" [ngClass]="{'selected': jogo.equipe_visitante.ativo}" (click)="escolherEquipe(jogo, jogo.equipe_visitante.id, rodada.id, 'left')">
            <img src="assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>{{jogo.equipe_visitante.nome}}</span>
            </small>
          </div>
          <div class="col-12 info-jogo">
              <p class="info">{{ jogo.inicio | date:'medium'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="aposta d-flex justify-content-center align-items-center">
    <img src="assets/img/icone-aposta.png" data-toggle="modal" data-target="#modal-apostas" alt="Icone apostas">
  </div>

</div>

<div class="modal gameboll-theme-modal" id="modal-apostas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Minha aposta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jogo col-12 m-0 p-1 d-flex justify-content-center row mb-3 pb-2">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row">
            <img class="equipe-escolhida" src="../../../assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 trash p-0 m-0 text-center">
            <button type="button" class="btn btn-sm mt-2">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="jogo col-12 m-0 p-1 d-flex justify-content-center row mb-3 pb-2">
          <!-- time da casa -->
          <div class="time-casa text-center d-flex justify-content-center col-5 row">
            <img src="../../../assets/img/ligaEspanhola/barcelona.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Barcelona</span>
            </small>

          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">X</div>
          <!-- time visitante -->
          <div class="time-visitante text-center d-flex justify-content-center col-5 row">
            <img class="equipe-escolhida" src="../../../assets/img/ligaEspanhola/real-madrid.png" alt="logo do time">
            <small class="col-12 p-0">
              <span>Real Madrid</span>
            </small>

          </div>
          <div class="col-12 trash p-0 m-0 text-center">
            <button type="button" class="btn btn-sm mt-2">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="col-12 mb-3 text-center">
        <button class="btn btn-sm" (click)="finalizarAposta()">
          <small>
            Finalizar aposta
          </small>
        </button>
      </div>

      <div class="input-telefone col-12 mb-3" #inputTelefone>
        <div>
          <p class="text-center">Preencha o formulário para finalizar a aposta</p>
        </div>
        <label>Telefone</label>
        <input type="text" name="nomeRodada" class="form-control" placeholder="(85)9xxxx-xxxx">
      </div>

      <div class="formularioCadastrado col-12 row m-0 p-0 pt-3 pb-3" #formularioCadastro>
        <div class="col-12">
          <small>
            <p class="text-center alerta">Usuário não cadastrado no sistema!
              <br/>Informe os dados abaixo</p>
          </small>
        </div>
        <div class="col-12 m-0">
          <label>Nome</label>
          <input type="text" name="nomeRodada" class="form-control" placeholder="nome">
        </div>

        <div class="col-12 m-0">
          <label>Sobrenome</label>
          <input type="text" name="nomeRodada" class="form-control" placeholder="sobrenome">
        </div>
      </div>

      <div class="enviar text-center pt-2 pb-2 p-0" #enviar>
        <button class="btn btn-sm" (click)="FormularioCadastroUsuario()">
          <small>
            Enviar
          </small>
        </button>
      </div>

    </div>
  </div>
</div>