<div class="jogos" #jogos>
  <button class="voltar" (click)="voltar()">
    <i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>
  </button>

  <div class="col-12 row d-flex justify-content-center m-0 mt-5 pt-3">

    <div class="col-sm-8 lista-jogos pt-5 pl-3 pr-3">

      <div class="col-sm-12 row m-0 mb-5 p-0">
        <div class="col-10 col-sm-11 row m-0 p-0">
          <h4 class="col-12">Jogos da rodada</h4>
        </div>
        <button class="col-2 col-sm-1 btn w-100" data-toggle="modal" data-target="#modal-jogo">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-sm-12 row jogo m-0 mb-3 p-0 pt-3">
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/barcelona.png" alt="escudo do time">
          <br/>
          <small>Barcelona</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <p>X</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/real-madrid.png" alt="escudo do time">
          <br/>
          <small>Real Madrid</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-12 row info d-flex align-items-center p-0 m-0">
          <div class="col-8 text-left">
            <small>
              Data: 00/00/0000
              <br/> Horário: 00:00h
            </small>
          </div>

          <div class="col-4 text-right">
            <span class="mr-4" data-toggle="modal" data-target="#modal-jogo">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="mr-4" data-toggle="modal" data-target="#modal-excluir">
              <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 row jogo m-0 mb-3 p-0 pt-3">
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/barcelona.png" alt="escudo do time">
          <br/>
          <small>Barcelona</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <p>X</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/real-madrid.png" alt="escudo do time">
          <br/>
          <small>Real Madrid</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-12 row info d-flex align-items-center p-0 m-0">
          <div class="col-8 text-left">
            <small>
              Data: 00/00/0000
              <br/> Horário: 00:00h
            </small>
          </div>

          <div class="col-4 text-right">
            <span class="mr-4" data-toggle="modal" data-target="#modal-jogo">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="mr-4" data-toggle="modal" data-target="#modal-excluir">
              <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 row jogo m-0 mb-3 p-0 pt-3">
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/barcelona.png" alt="escudo do time">
          <br/>
          <small>Barcelona</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <p>X</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/real-madrid.png" alt="escudo do time">
          <br/>
          <small>Real Madrid</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-12 row info d-flex align-items-center p-0 m-0">
          <div class="col-8 text-left">
            <small>
              Data: 00/00/0000
              <br/> Horário: 00:00h
            </small>
          </div>

          <div class="col-4 text-right">
            <span class="mr-4" data-toggle="modal" data-target="#modal-jogo">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="mr-4" data-toggle="modal" data-target="#modal-excluir">
              <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 row jogo m-0 mb-3 p-0 pt-3">
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/barcelona.png" alt="escudo do time">
          <br/>
          <small>Barcelona</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <p>X</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/real-madrid.png" alt="escudo do time">
          <br/>
          <small>Real Madrid</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-12 row info d-flex align-items-center p-0 m-0">
          <div class="col-8 text-left">
            <small>
              Data: 00/00/0000
              <br/> Horário: 00:00h
            </small>
          </div>

          <div class="col-4 text-right">
            <span class="mr-4" data-toggle="modal" data-target="#modal-jogo">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="mr-4" data-toggle="modal" data-target="#modal-excluir">
              <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-12 row jogo m-0 mb-3 p-0 pt-3">
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/barcelona.png" alt="escudo do time">
          <br/>
          <small>Barcelona</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <p>X</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/ligaEspanhola/real-madrid.png" alt="escudo do time">
          <br/>
          <small>Real Madrid</small>
          <br/>
          <small>0</small>
        </div>
        <div class="col-12 row info d-flex align-items-center p-0 m-0">
          <div class="col-8 text-left">
            <small>
              Data: 00/00/0000
              <br/> Horário: 00:00h
            </small>
          </div>

          <div class="col-4 text-right">
            <span class="mr-4" data-toggle="modal" data-target="#modal-jogo">
              <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="mr-4" data-toggle="modal" data-target="#modal-excluir">
              <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="administrador container-fluid row p-0 d-flex justify-content-center">

  <!-- Menu -->
  <!-- <div class="menu-left">
    <div class="item">
      <a (click)="rankingSemana()">
        <i class="icon fa fa-lg fa-list-ol" aria-hidden="true"></i>
        Ranking da semana
      </a>
    </div>

    <div class="item">
      <a (click)="campeonato()">
        <i class="icon fa fa-lg fa-trophy" aria-hidden="true"></i>
        Campeonatos
      </a>
    </div>

    <div class="item">
      <a (click)="rodada()">
        <i class="icon fa fa-lg fa-futbol-o" aria-hidden="true"></i>
        Rodadas
      </a>
    </div>

    <div class="item">
      <a (click)="aposta()">
        <i class="icon fa fa-lg fa-money" aria-hidden="true"></i>
        Apostas
      </a>
    </div>

    <div class="item">
      <a (click)="equipe()">
        <i class="icon fa fa-lg fa-users" aria-hidden="true"></i>
        Equipes
      </a>
    </div>
  </div> -->

  <!-- Tabela Ranking
  <div class="content table-custom col-11 ml-5 pl-5" #ranking>
    <div class="form-group row d-flex align-items-center m-0 p-0">
      <h2 class="text-left mt-4 mb-3">Ranking da Semana</h2>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data da aposta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Daouda</td>
            <td>(85)9xxxx-xxxx</td>
            <td>01/01/2018</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Joziélio</td>
            <td>(85)9xxxx-xxxx</td>
            <td>01/01/2018</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Fulano</td>
            <td>fulano@email.com</td>
            <td>01/01/2018</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

  <!-- Campeonatos -->
  <div class="content table-custom col-11 ml-5 pl-5" #campeonatos>
    <div class="col-12 row d-flex align-items-center m-0 p-0">
      <div class="col-sm-7 ml-0 pl-0">
        <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Campeonatos</h2>
      </div>
      <div class="col-8 col-sm-4 p-0 m-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="campeonato..." aria-label="campeonato...">
          <span class="input-group-btn">
            <button class="btn" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-4 col-sm-1 text-right pl-3 mr-0 pr-0 mt-2 mb-2">
        <button class="btn w-100" data-toggle="modal" data-target="#modal-campeonato">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Escudo</th>
            <th scope="col">Nome</th>
            <th scope="col" class="th-editar">Editar</th>
            <th scope="col" class="th-apagar">Apagar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img src="assets/img/campeonatos/uefa.png" alt="Escudo do time">
            </td>
            <td>UEFA</td>
            <td>
              <span data-toggle="modal" data-target="#modal-campeonato">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img src="assets/img/campeonatos/brasileiro-serie-a.png" alt="Escudo do time">
            </td>
            <td>Brasileiro Séria A</td>
            <td>
              <span data-toggle="modal" data-target="#modal-campeonato">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <img src="assets/img/campeonatos/brasileiro-serie-b.png" alt="Escudo do time">
            </td>
            <td>Brasileiro Séria B</td>
            <td>
              <span data-toggle="modal" data-target="#modal-campeonato">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Rodadas -->
  <div class="content table-custom col-11 ml-5 pl-5" #rodadas>
    <div class="col-12 row d-flex align-items-center m-0 p-0">
      <div class="col-sm-7 ml-0 pl-0">
        <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Rodadas</h2>
      </div>
      <div class="col-8 col-sm-4 p-0 m-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="rodada..." aria-label="campeonato...">
          <span class="input-group-btn">
            <button class="btn" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-4 col-sm-1 text-right pl-3 mr-0 pr-0 mt-2 mb-2">
        <a class="btn w-100" data-toggle="modal" data-target="#modal-rodada">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Início</th>
            <th scope="col">Data Fim</th>
            <th scope="col" class="th-editar">Editar</th>
            <th scope="col" class="th-apagar">Apagar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <a class="nome-rodada" (click)="mostrarJogos()">Rodada 1</a>
            </td>
            <td>01/01/2018</td>
            <td>08/01/2018</td>
            <td>
              <span data-toggle="modal" data-target="#modal-rodada">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <a class="nome-rodada" (click)="mostrarJogos()">Rodada 2</a>
            </td>
            <td>01/01/2018</td>
            <td>08/01/2018</td>
            <td>
              <span data-toggle="modal" data-target="#modal-rodada">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Tabela Apostas -->
  <div class="content table-custom col-11 ml-5 pl-5" #apostas>
    <div class="form-group row d-flex align-items-center m-0 p-0">
      <div class="form-group col-sm-6 ml-0 pl-0">
        <h2 class="text-left mt-4 mb-3">Apostas</h2>
      </div>
      <div class="form-group col-sm-4 row m-0 p-0 mt-2 mb-2">
        <div class="input-group col-sm-11 mt-2 mb-2 p-0">
          <input type="text" class="form-control" placeholder="nome" aria-label="nome">
        </div>
      </div>

      <div class="form-group col-sm-2 row ml-auto pr-0 pl-0 mr-0 ml-0 mt-3 mb-3">
        <div class="col-6 ml-0 pl-0">
          <button class="btn w-100" type="button">
            <img src="assets/img/clean.png" alt="Icone para limpar campos de busca">
          </button>
        </div>
        <div class="col-6 mr-0 pr-0">
          <button class="btn w-100" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data da aposta</th>
            <th scope="col">Equipes escolhidas</th>
            <th scope="col" class="th-pagamento text-center">Pago</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Daouda</td>
            <td>01/01/2018</td>
            <td>Equipe A, Equipe B, Equipe C, Equipe D</td>
            <td>
              <span class="input-group-addon justify-content-center">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Joziélio</td>
            <td>01/01/2018</td>
            <td>Equipe A, Equipe B, Equipe C, Equipe D</td>
            <td>
              <span class="input-group-addon justify-content-center">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Fulano</td>
            <td>01/01/2018</td>
            <td>Equipe A, Equipe B, Equipe C, Equipe D</td>
            <td>
              <span class="input-group-addon justify-content-center">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Tabela Equipes -->
  <div class="content table-custom col-11 ml-5 pl-5" #equipes>
    <div class="form-group row d-flex align-items-center m-0 p-0">
      <div class="form-group col-sm-4 ml-0 pl-0">
        <h2 class="text-left mt-4 mb-3">Equipes</h2>
      </div>
      <div class="form-group col-sm-3 row m-0 p-0 mt-2 mb-2">
        <div class="input-group col-sm-11 mt-2 mb-2 p-0">
          <input type="text" class="form-control" placeholder="equipe" aria-label="equipe">
        </div>
      </div>

      <div class="form-group col-sm-3 row m-0 p-0 mt-2 mb-2">
        <div class="input-group col-sm-11 mt-2 mb-2 p-0">
          <input type="text" class="form-control" placeholder="campeonato" aria-label="campeonato">
        </div>
      </div>

      <div class="form-group col-sm-2 row ml-auto pr-0 pl-0 mr-0 ml-0 mt-3 mb-3">
        <div class="col-4 pl-0 pr-1">
          <button class="btn w-100" type="button">
            <img src="assets/img/clean.png" alt="Icone para limpar campos de busca">
          </button>
        </div>
        <div class="col-4 pl-1 pr-1">
          <button class="btn w-100" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-4 pl-1 pr-0">
          <button class="btn w-100" type="button" data-toggle="modal" data-target="#modal-equipe">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Escudo</th>
            <th scope="col">Nome</th>
            <th scope="col">Campeonato(s)</th>
            <th scope="col" class="th-editar">Editar</th>
            <th scope="col" class="th-apagar">Apagar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img src="assets/img/ligaEspanhola/barcelona.png" alt="Escudo do time">
            </td>
            <td>Barcelona</td>
            <td>UEFA</td>
            <td>
              <span data-toggle="modal" data-target="#modal-equipe">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img src="assets/img/ligaEspanhola/real-madrid.png" alt="Escudo do time">
            </td>
            <td>Real Madrid</td>
            <td>UEFA</td>
            <td>
              <span data-toggle="modal" data-target="#modal-equipe">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <img src="assets/img/ligaInglesa/chelsea.png" alt="Escudo do time">
            </td>
            <td>Chelsea</td>
            <td>UEFA</td>
            <td>
              <span data-toggle="modal" data-target="#modal-equipe">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span data-toggle="modal" data-target="#modal-excluir">
                <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Campeonato -->
<div class="modal gameboll-theme-modal" id="modal-campeonato">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Campeonato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="col-12 text-center">
            <div class="col-12">
              <img class="image-escudo" src="assets/img/campeonatos/uefa.png" alt="Escudo do campeonato">
            </div>
            <div class="col-12 p-0 mt-1">
              <button class="btn btn-sm">
                <small>
                  Alterar/Inserir escudo
                </small>
              </button>
            </div>
          </div>
          <form class="form-modal" method="post" action="">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" name="nome" class="form-control" placeholder="nome">
            </div>
          </form>
          <div class="row">
            <div class="col-md-4">
              <a class="btn">Salvar</a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Rodada -->
<div class="modal gameboll-theme-modal" id="modal-rodada">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Rodada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form class="form-modal" method="post" action="">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" name="nomeRodada" class="form-control" placeholder="nome">
            </div>
            <div class="form-group">
              <label>Data Início</label>
              <input type="text" name="dataInicio" class="form-control" placeholder="01/01/2018">
            </div>
            <div class="form-group">
              <label>Data Fim</label>
              <input type="text" name="dataFim" class="form-control" placeholder="01/01/2018">
            </div>
          </form>
          <div class="row">
            <div class="col-md-4">
              <a class="btn">Salvar</a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Equipe -->
<div class="modal gameboll-theme-modal" id="modal-equipe">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="col-12 text-center">
            <div class="col-12">
              <img class="image-escudo" src="assets/img/ligaInglesa/chelsea.png" alt="Escudo do time">
            </div>
            <div class="col-12 p-0 mt-1">
              <button class="btn btn-sm">
                <small>
                  Alterar/Inserir escudo
                </small>
              </button>
            </div>
          </div>

          <form class="form-modal" method="post" action="">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" name="nome" class="form-control" placeholder="nome">
            </div>

            <label>Campeonato(s)</label>
            <div class="input-campeonato">
              <div class="col-sm-12 row p-0 m-0">
                <div class="form-group col-11 pl-0 ml-0">
                  <select class="form-control">
                    <option selected>Campeonato...</option>
                    <option value="1">Brasileiro Série A</option>
                    <option value="2">Brasileiro Série B</option>
                    <option value="3">UEFA</option>
                  </select>
                </div>
                <div class="col-1 pl-0 ml-0">
                  <a class="btn" (click)="addInputCampeonato()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-4">
              <a class="btn">Salvar</a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Jogo -->
<div class="modal gameboll-theme-modal" id="modal-jogo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Jogo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-modal col-12 row p-0 m-0" method="post" action="">

          <div class="col-12 ml-0 mr-0">
            <label>Campeonato</label>
            <div class="form-group pl-0 ml-0">
              <select class="form-control">
                <option selected>campeonatos...</option>
                <option value="1">UEFA</option>
                <option value="2">Brasileiro Série A</option>
                <option value="3">Brasileiro Série B</option>
              </select>
            </div>
          </div>

          <div class="col-8 ml-0 mr-0">
            <label>Time casa</label>
            <select class="form-control">
              <option selected>equipe...</option>
              <option value="1">Barcelona</option>
              <option value="2">Real Madrid</option>
            </select>
          </div>

          <div class="form-group col-4">
            <label>Gol(s)</label>
            <input type="text" name="gol-casa" class="form-control" placeholder="gol(s)">
          </div>

          <div class="col-8 ml-0 mr-0">
            <label>Time Visitante</label>
            <select class="form-control">
              <option selected>equipe...</option>
              <option value="1">Barcelona</option>
              <option value="2">Real Madrid</option>
            </select>
          </div>

          <div class="form-group col-4">
            <label>Gol(s)</label>
            <input type="text" name="gol-visitante" class="form-control" placeholder="gol(s)">
          </div>

          <div class="col-12 row ml-0 mr-0">
            <label>Data/Hora</label>
            <input type="text" name="horario" class="form-control" placeholder="00/00/0000 - 00:00h">
          </div>

          <div class="col-12 mt-3">
            <a class="btn">Salvar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir -->
<div class="modal gameboll-theme-modal" id="modal-excluir">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="col-md-12">
          <label class="mt-4 mb-4">Tem certeza que deseja excluir?</label>
          <div class="row mt-3 mb-4 d-flex justify-content-center">
            <div class="col-md-4">
              <a class="btn">Sim</a>
            </div>
            <div class="col-md-4">
              <a class="btn">Não</a>
            </div>

            <div class="col-md-8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>