.gameboll-theme-modal {
    .modal-header {
        background-color: #073018 !important;
        .modal-title {
            color: #fff !important;
        }
    }
    span {
        color: #fff !important;
    }
    .btn {
        cursor: pointer;
        background-color: #073018 !important;
        color: #fff !important;
        i {
            color: #fff !important;
        }
        &:hover {
            background-color: #000 !important;
            border: solid 1px #fff;
        }

    }

    .btn-excluir {
        cursor: pointer;
        background-color: gray !important;
        i {
            color: #fff !important;
        }
        &:hover {
            background-color: #000 !important;
            border: solid 1px #fff;
        }

    }

    a, b, i, p, h1, h2, h3, h4, h5, h6 {
        color: #000 !important;
    }
    .link {
        color: #0366d6 !important;
    }
}

.jogos {
    position: absolute;
    display: none;
    width: 100%;
    right: 0px;
    height: 150%;
    background-color: #f2f2f2;
    z-index: 6;
    transition: 0.3s;
    .voltar {
        cursor: pointer;
        color: #0E562C;
        border: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        left: 2%;
        top: 10px;
        &:hover {
            color: #073018;
        }
    }
    .btn {
        cursor: pointer;
        background-color: #0E562C;
        color: #fff;
        &:hover {
            background-color: #000 !important;
        }
    }
    img {
        width: 30px;
    }
    .jogo {
        background-color: rgba(0, 0, 0, 0.164);
    }
    .info {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.452);
    }
    span {
        cursor: pointer;
    }
    .lista-jogos {
        background-color: #fff;
    }
}

.administrador {
    position: relative;
    width: 100%;
    min-height: 72vh;
    margin-top: 56px;

    .menu-left {
        position: absolute;
        left: 0;
        padding-left: 12px;
        z-index: 5;
        height:100%;
        background: #073018;
        display: inline-block;
        white-space: nowrap;
        width: 65px;
        transition: width 0.2s;
        &:hover {
            width: 250px;
        }
        .icon {
            margin:15px;
            width:20px;
            color:#fff;
        }
        .item {
            height:50px;
            overflow:hidden;
            a {
                cursor: pointer;
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                background-color:#fff;
                .icon {
                    color: #073018;

                }
                a {
                    color: #073018;
                }
            }
        }
    }

    .accordion-campeonatos {
        display: none;
        .card {
            border: none;
        }
        .card-header {
            color: #000;
            // background-color: #fff;
            &:hover {
                color: #fff;
                background-color: #0E562C;
                a {
                    color: #fff;
                }
            }
        }
        .card-body {
            background-color: #ececec;
        }
        .btn {
            cursor: pointer;
            background-color: #0E562C;
            color: #fff;
            &:hover {
                background-color: #000 !important;
            }
        }
        img {
            width: 40px;
        }
        .card-header {
            span {
                cursor: pointer;
            }
        }
        .list-group {
            i {
                cursor: pointer;
            }
        }
        a {
            cursor: pointer;
            color: #000;
            text-decoration: none;
        }
    }

    .table-aposta {
        display: none;
        .th-pagamento {
            width: 100px;
        }
        span {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            input {
                cursor: pointer;
            }
        }
        .btn {
            cursor: pointer;
            background-color: #0E562C;
            color: #fff;
            &:hover {
                background-color: #000 !important;
            }
        }
        button {
            img {
                color: #fff;
                width: 20px;
            }
        }
    }

    .table-ranking {
        .th-pagamento {
            width: 100px;
        }
        span {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            input {
                cursor: pointer;
            }
        }
        .btn {
            cursor: pointer;
            background-color: #0E562C;
            color: #fff;
            &:hover {
                background-color: #000 !important;
            }
        }
        button {
            img {
                color: #fff;
                width: 20px;
            }
        }
    }

    .table-usuario {
        display: none;
        .th-pagamento {
            width: 100px;
        }
        span {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            input {
                cursor: pointer;
            }
        }
        .btn {
            cursor: pointer;
            background-color: #0E562C;
            color: #fff;
            &:hover {
                background-color: #000 !important;
            }
        }
        button {
            img {
                color: #fff;
                width: 20px;
            }
        }
    }

    .table-equipe {
        display: none;
        img{
            width: 30px;
            height: auto;
        }
        .btn {
            cursor: pointer;
            background-color: #0E562C;
            color: #fff;
            &:hover {
                background-color: #000 !important;
            }
        }
        button {
            img {
                color: #fff;
                width: 20px;
            }
        }
    }

    .content {
        width: 95vw;
        min-height: 100vh;
        thead {
            background-color: #073018;
            color: #fff;
            .th-editar {
                width: 20px;
            }
            .th-apagar {
                width: 20px;
            }
        }
        tbody {
            span {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px){
        .content {
            width: 88vw;
        }
    }
                    
}

