<div class="row content pt-2 pb-5 m-0">
  <div class="col-12 form-group row d-flex align-items-center m-0 p-3">
    <div class="form-group col-sm-8 ml-0 pl-0">
      <h2 class="text-left mt-4 mb-3">Apostas</h2>
    </div>
    <div class="col-8 col-sm-4 p-0 m-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="nome..." aria-label="nome...">
        <span class="input-group-btn">
          <button class="btn" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>

  </div>

  <div class="col-12 m-0">
    <ngx-datatable 
    #table class="material" 
    [headerHeight]="40" [limit]="10" 
    [columnMode]="'force'" 
    [footerHeight]="50" 
    [rowHeight]="'auto'"
    [rows]="rows" 
    [externalPaging]="true"
    [limit]="pagination.limit"
    [count]="pagination.count"                
    [offset]="pagination.offset"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator"
    (page)="setPage($event)">
      <ngx-datatable-column 
      name="Nº" [maxWidth]="30" [width]="20">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.$$index +1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nome">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.usuario.nome}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Data da aposta">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.created_at | date:'dd/MM/y H:mm'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Equipes Escolhidas">
        <ng-template ngx-datatable-cell-template let-value="value">
          <!-- <span *ngFor="row.jogos">

          </span> -->
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
