<div class="row content pt-2 pb-5 m-0">
  <div class="col-12 row d-flex align-items-center m-0 p-3">
    <div class="col-sm-7 ml-0 pl-0">
      <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Apostas</h2>
    </div>
    <div class="col-12 col-sm-5 row m-0 p-0">
      <div class="col-10 col-sm-11 p-0 m-0 pr-3">
        <select class="form-control" [(ngModel)]="filter.ids">
          <option [ngValue]="rodada.id" *ngFor="let rodada of listaRodada" [selected]="rodada.nome === 'Rodada...'">{{rodada.nome}}</option>
        </select>
      </div>
      <div class="col-1 col-sm-1 p-0 m-0">
        <span class="input-group-btn">
          <button class="btn" type="button" (click)="getApostas()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="col-12 m-0">
    <ngx-datatable 
    #table class="material" 
    [headerHeight]="40" [limit]="10" 
    [columnMode]="'force'" 
    [footerHeight]="50" 
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column 
      name="Nº" [maxWidth]="30" [width]="20">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.$$index +1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nome">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.nome}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Rodada">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.rodada}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Data da aposta">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.created_at | date:'dd/MM/y H:mm'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Equipes Escolhidas">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span *ngFor="let equipe of row.equipes">
            {{equipe}} <br/>
          </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
