.home {
    position: relative;
    width: 100%;
    min-height: 72vh;
    margin-top: 56px;
    overflow: hidden;
    ::-webkit-scrollbar {
        background-color: rgba(255, 0, 0, 0);  
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #000;
    }

    ::-webkit-scrollbar-corner {
        display: none;
    }
    .imagem-fundo {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        img {
            height: 140%;
        }
    }

    .lista-campeonatos {
        width: 13%;
        height: 85vh;
        margin-top: 40px;
        background-color: #e7e9ea7a;
        overflow: auto;
        .campeonato {
            position: relative;
            width: 90px;
            img {
                position: relative;
                width: 60px;
                height: auto;
                transition: 0.3s;
            }
            a {
                position: absolute;
                text-decoration: none;
            }    
            p {
                display: none;
                color: #fff;
                border: solid 1px #fff;
                padding: 2px;
                background-color: rgba(0,0,0, 0.6);
            }
            &:hover {
                img{
                    filter: blur(1px);
                }
                p {
                    display: block;
                }
            }   
        }
    }
    
    .menu-top {
        position: fixed;
        z-index: 2;
        width: 100%;
        background-color: #073018;
        .nav-item {
            color: #fff;
            .content-jogos {
                display: none;
                color: #000;
                .aposta {
                    color: #fff;
                    border-top: solid 1px #fff;
                }
                .info {
                    text-align: center;
                    margin: 0;
                    font-size: 0.8em;
                }        
                .jogo {
                    background-color: #e7e9ea;        
                    border: solid 2px #073018;
                    .info-jogo {
                        color: #fff;
                        background-color: #000;
                    }
                }    
            }
            .nav-link {
                cursor: pointer;
            }
        }
        .resultado {
            display: flex;
            .jogador {
                .span {
                    border-right: solid 1px #fff;
                    border-left: solid 1px #fff;                    
                    background-color: #fff;
                    margin: -5px;
                }
                .classificacao {
                    background-color: gray;
                }
                .nome {
                    color: #000;
                }
                .pontos {
                    background-color: #000;
                }
            }
        }
    }
    
    .jogos {
        width: 85%;
        height: 85vh;
        margin-top: 45px !important;
        position: absolute;
        right: 1.5%;
        background-color: #e7e9ea7a;
        
        .imagem-inicio {
            display: none;
            .texto-inicial {
                color: #000;
            }
            h1, h3 {
                text-shadow: -1px 2px 2px #fff;
            }
            img {
                position: absolute;
                width: 200px;
                height: auto;
                top: 180%;
                left: 20%;
                transform: translate(-50%, -50%);
            }
            a {
                color: #000;
                cursor: pointer;
                padding: 10px;
                font-weight: bold;
                margin-top: 10px;
                &:hover {
                    color: #F75C03;
                }
            }
        }

        img {
            height: 30px;
        }
        .info {
            text-align: center;
            margin: 0;
            font-size: 0.8em;
        }
    
        .jogos-rodada {
            display: block;
            width: 100%;
            color: #fff;
            overflow: scroll;
            .header {
                background-color: #e7e9ea;
                color: #000;
            }
            .jogo {
                background-color:rgba(0,0,0,0.7);        
                border: solid 3px #e7e9ea;
                .info-jogo {
                    background-color: rgba(0,0,0,0.6);
                }
                .time-casa, .time-visitante {
                    cursor: pointer;
                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }        
    }

    @media (min-width: 1200px) {
        .imagem-fundo {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media (max-width: 575px) {
        .lista-campeonatos {
            width: 20%;
            .campeonato {
                img {
                    width: 40px;
                }
            }
        }
        .jogos {
            width: 80%;
        }
    }
}