<div class="row content pt-5 pb-5 m-0">
    <div class="col-12 row d-flex align-items-center m-0 p-0">
        <div class="col-sm-7 ml-0 pl-0">
          <h2 class="text-left pl-0 ml-0 mt-4 mb-3">Campeonatos</h2>
        </div>
        <div class="col-8 col-sm-4 p-0 m-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="campeonato..." aria-label="campeonato...">
            <span class="input-group-btn">
              <button class="btn" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-4 col-sm-1 text-right pl-3 mr-0 pr-0 mt-2 mb-2">
          <button class="btn w-100" data-toggle="modal" data-target="#modal-campeonato">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
  
  <div class="col-12 m-0">
    <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="'true'"
    [loadingIndicator]="loadingIndicator">
    <ngx-datatable-column name="Campeonatos">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>
          {{row.nome}}
        </span>
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
  </div>   
</div>

<!-- Modal Campeonato -->
<div class="modal gameboll-theme-modal" id="modal-campeonato">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header rounded-0">
          <h5 class="modal-title">Campeonato</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="col-12 text-center">
              <div class="col-12">
                <img class="image-escudo" src="assets/img/campeonatos/uefa.png" alt="Escudo do campeonato">
              </div>
              <div class="col-12 p-0 mt-1">
                <button class="btn btn-sm">
                  <small>
                    Alterar/Inserir escudo
                  </small>
                </button>
              </div>
            </div>
            <form class="form-modal" method="post" action="">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" [(ngModel)]="campeonato.nome" class="form-control" placeholder="nome">
              </div>
            </form>
            <div class="row">
              <div class="col-md-4">
                <a class="btn" (click)=save()>Salvar</a>
              </div>
              <div class="col-md-8">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>