<div class="row content pt-2 pb-5 m-0">
  <div class="col-12 form-group row d-flex align-items-center m-0 p-3">
    <div class="form-group col-sm-4 ml-0 pl-0">
      <h2 class="text-left mt-4 mb-3">Equipes</h2>
    </div>
    <div class="form-group col-sm-3 row m-0 p-0 mt-2 mb-2">
      <div class="input-group col-sm-11 mt-2 mb-2 p-0">
        <input type="text" [(ngModel)]="filter.nome" class="form-control" (keyup.enter)="buscar()" placeholder="equipe" aria-label="equipe">
      </div>
    </div>

    <div class="form-group col-sm-2 row ml-auto pr-0 pl-0 mr-0 ml-0 mt-3 mb-3">
      <div class="col-4 pl-0 pr-1">
        <button class="btn w-100" type="button">
          <img src="assets/img/clean.png" alt="Icone para limpar campos de busca">
        </button>
      </div>
      <div class="col-4 pl-1 pr-1">
        <button class="btn w-100" type="button" (click)="buscar()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-4 pl-1 pr-0">
        <button class="btn w-100" type="button" (click)="newEquipe()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 m-0">
    <ngx-datatable 
    #table 
    class="material" 
    [headerHeight]="40" [limit]="10" 
    [columnMode]="'force'" 
    [footerHeight]="50" 
    [rowHeight]="'auto'"
    [rows]="rows" 
    [externalPaging]="true"
    [limit]="pagination.limit"
    [count]="pagination.count"                
    [offset]="pagination.offset"
    [scrollbarH]="'false'"
    [loadingIndicator]="loadingIndicator"
    (page)="setPage($event)">
      <ngx-datatable-column 
      name="Nº" [maxWidth]="30" [width]="20">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>
            {{row.$$index +1}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Escudo">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="logo">
            <img src="{{row.logo}}" alt="logo equipe">
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nome">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.nome}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Campeonato(s)">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span *ngFor="let campeonato of row.campeonatos">
            {{campeonato.nome}}<br/>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ações">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="action col-12 row">
            <span class="col-12" data-toggle="modal" (click)="edit(row)" data-target="#modal-equipe">
                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Modal Equipe -->
<div class="modal gameboll-theme-modal" id="modal-equipe">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header rounded-0">
        <h5 class="modal-title">Equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="col-12 text-center">
            <div class="col-12 pt-2 pb-2">
              <img class="image-escudo" id="escudo-equipe" src="{{equipe.logo}}" alt="Escudo do time">
            </div>
            <div class="btn-escolher-escudo col-12 p-0 mt-1" #botaoEscolherEscudo>
              <button class="btn btn-sm" (click)="escolherEscudo()">
                <small>
                  Escolher escudo
                </small>
              </button>
            </div>
          </div>

          <div class="escudos" #divEscudos>
            <div class=" row col-12 m-0 p-0 pb-2" id="escudos" *ngFor="let infoEscudo of escudos">
              <h6 class="pl-2 col-12 p-0 m-0 pt-2 pb-2">{{infoEscudo.regiao}}</h6>
                <div class="img-escudo col-sm-4 p-2 text-center" id="id" *ngFor="let url of infoEscudo.srcEscudo" (click)="selecionarEscudo(url)">
                    <img class="ml-1" src={{url}} alt="Escudo da equipe">
                </div>
            </div>
          </div>

          <form class="form-modal" method="post" action="">
            <div class="form-group">
              <label for="nome">Nome</label>
                <input type="text" name="nome" [(ngModel)]="equipe.nome"  class="form-control" placeholder="nome">
            </div>

            <label>Lista Campeonatos</label>
            <div class="input-campeonato">
                <div class="form-group col-12 pl-0 ml-0 p-0">
                  <select class="form-control" name="lista" multiple>
                    <option [ngValue]="campeonato.id" (click)="listaCampeonatosEquipe(campeonato)" *ngFor="let campeonato of campeonatos">{{campeonato.nome}}</option>
                  </select>
              </div>
            </div>

            <label>Campeonato(s) da equipe</label>
            <div class="campeonatos mb-2 m-0 p-0 col-12 row">
              <span class="p-1 m-1" *ngFor="let elem of listaCampeonatosEscolhidos">
                {{elem.nome}}<sup class="pl-1 pr-1 ml-1" (click)="removerCampeonato(elem)" >x</sup>
              </span>
            </div>
          </form>

          <div class="row">
            <div class="col-md-4">
              <a class="btn" (click)=submit()>Salvar</a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
